
body {
    margin: auto;
   
}

.search-container {
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue; 
    position: sticky;
    top: 0;
    
}
.search-form {
    display: flex;
   
}
.search-input {
    height: 20px;
    width: 220px;
    cursor: text;
    border: 1px solid #01405f;
    border-radius: 5px ;
    padding: 5px;
    outline: none;
    color: #01405f;
    
}
.search-input:focus {
    border: 2px solid #01405f;
}
.search-btn {
    position: relative;
    transform: translate(-105%, 0);
    background-color: transparent;
    border: none;
    color: #959697;
    cursor: pointer;
    
}
  .container {
      background-color: blanchedalmond;

   }
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.photo-card { 
    margin-block: 40px;
    margin-inline: 5px;
    
}
.info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.info-item {
    justify-content: flex-start;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.link {
    text-decoration: none;
}
.img {
    cursor: pointer;
}


.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.hidden {
    display: none;
}